.container {
    display: inline-flex;
}
.firstContainer {
    margin-left: 100px;
    width: 450px;
}
.secondContainer {
    margin-left: 0px;
}
.userName {
    width: 100px;
    margin-top: 40px;
}
.realName{
    width: 350px;
    margin-top: 50px;
}
.aboutUser{
    width: 300px;
    margin-top: 50px;
}
#firstErrorBox{
    height: 60px;
    width: 300px;
    margin-left: 180px;
    margin-top: -45px;
}
#secondErrorBox{
    height: 100px;
    width: 300px;
    margin-left: 330px;
    margin-top: -100px;
}
#secondP{
    position: relative;
    margin-bottom: 0px;
}
.valid {
    border-bottom: 2px solid green;
}
.invalid{
    border-bottom: 2px solid red;
}
.errorMessage{
    color:red;
}

