.valid {
    border-bottom: 2px solid green;
}
.invalid{
    border-bottom: 2px solid red;
}
.errorMessage{
    color:red;
}
.userEducation {
    margin-top: 50px;
    width: 170px;
}
.userEmployment {
    margin-top: 50px;
    width: 170px;
}
#inputNumber {
    width: 75px;
}