<form [formGroup]="userEducationGroup">
  <div class="userEducation">
    <label>Utbildningar</label><br/>
    <input type="text" placeholder="Skola" formControlName="userSchoolControl"
    [class.valid]="userSchoolControl.valid"
    [class.invalid]="userSchoolControl.invalid && userSchoolControl.touched"/>
    <input type="text" placeholder="Startår" formControlName="userStartControl" id="inputNumber"
    [class.valid]="userStartControl.valid"
    [class.invalid]="userStartControl.invalid && userStartControl.touched"/>
    <input type="text" placeholder="Slutår" formControlName="userEndControl" id="inputNumber"
    [class.valid]="userEndControl.valid"
    [class.invalid]="userEndControl.invalid && userEndControl.touched"/>
  </div>
</form>
<div class="errorMessage" id="firstErrorBox">
  <p *ngIf="userSchoolControl.errors?.required && userSchoolControl.touched">
    Du måste fylla i skolans namn
  </p> 
  <p *ngIf="(userStartControl.errors?.required || userEndControl.errors?.required) && (userEndControl.touched || userStartControl.touched)">
    Du måste fylla i årtal med fyra siffror, exempelvis 2015.
  </p>  
</div>
<button [disabled]="userEducationGroup.invalid" (click)="addEducation()">Lägg till utbildning</button>
<div *ngFor="let user of userEducation">
  {{user.school}}
  {{user.startYear}}-{{user.endYear}}
</div>
<form [formGroup]="userEmploymentGroup">
  <div class="userEmployment">
    <label>Anställningar</label><br/>
    <input type="text" placeholder="Företag" formControlName="userCompanyControl"
    [class.valid]="userCompanyControl.valid"
    [class.invalid]="userCompanyControl.invalid && userCompanyControl.touched"/>
    <input type="text" placeholder="Position/Titel" formControlName="userTitleControl"
    [class.valid]="userTitleControl.valid"
    [class.invalid]="userTitleControl.invalid && userTitleControl.touched"/>
    <input type="text" placeholder="Startår" formControlName="userStartEmploymentControl" id="inputNumber"
    [class.valid]="userStartEmploymentControl.valid"
    [class.invalid]="userStartEmploymentControl.invalid && userStartEmploymentControl.touched"/>
    <input type="text" placeholder="Slutår" formControlName="userEndEmploymentControl" id="inputNumber"
    [class.valid]="userEndEmploymentControl.valid"
    [class.invalid]="userEndEmploymentControl.invalid && userEndEmploymentControl.touched"/>
  </div>  
  </form>
  <div class="errorMessage" id="secondErrorBox">
    <p *ngIf="(userCompanyControl.errors?.required || userTitleControl.errors?.required) && (userTitleControl.touched || userCompanyControl.touched)">
      Du måste fylla i företag och titel.
    </p> 
    <p *ngIf="(userStartEmploymentControl.errors?.required || userEndEmploymentControl.errors?.required) && (userEndEmploymentControl.touched || userStartEmploymentControl.touched)">
      Du måste fylla i årtal med fyra siffror, exempelvis 2015.
    </p>  
  </div>
  <button [disabled]="userEmploymentGroup.invalid" (click)="addEmployment()">Lägg till anställning</button>
<div *ngFor="let user of userEmployment">
    {{user.company}}-{{user.workTitle}}<br/>
    {{user.startYear}}-{{user.endYear}}
  </div>